
.container{
    text-align: center;
}
.input-wrapper{
    margin: 10px;
}

.input-field{
    height: 30px;
    width: 200px;
}

.button{
   
    height: 30px;
    width: 200px; 
}

.button-link{
    border: 0;
    cursor: pointer;
    background-color: transparent;
    color: skyblue;
    margin: 20px;
}